.area-chart {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 90%;
  background-color: antiquewhite;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
